<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:macro name="kuka_iiwa_14_gazebo" params="prefix">

        <gazebo reference="${prefix}base_link">
            <turnGravityOff>false</turnGravityOff>
            <selfCollide>true</selfCollide>
        </gazebo>

        <gazebo reference="${prefix}link_1">
            <turnGravityOff>false</turnGravityOff>
            <selfCollide>true</selfCollide>
        </gazebo>

        <gazebo reference="${prefix}link_2">
            <turnGravityOff>false</turnGravityOff>
            <selfCollide>true</selfCollide>
        </gazebo>

        <gazebo reference="${prefix}link_3">
            <turnGravityOff>false</turnGravityOff>
            <selfCollide>true</selfCollide>
        </gazebo>

        <gazebo reference="${prefix}link_4">
            <turnGravityOff>false</turnGravityOff>
            <selfCollide>true</selfCollide>
        </gazebo>

        <gazebo reference="${prefix}link_5">
            <turnGravityOff>false</turnGravityOff>
            <selfCollide>true</selfCollide>
        </gazebo>

        <gazebo reference="${prefix}link_6">
            <turnGravityOff>false</turnGravityOff>
            <selfCollide>true</selfCollide>
        </gazebo>

        <gazebo reference="${prefix}link_7">
            <turnGravityOff>false</turnGravityOff>
            <selfCollide>true</selfCollide>
        </gazebo>

    </xacro:macro>
</robot>

