<?xml version="1.0"  encoding="UTF-8" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:macro name="kuka_youbot_transmission" params="prefix control_type">
        <!--************************ARM***************************-->
        <transmission name="${prefix}arm_trans_1">
            <type>transmission_interface/SimpleTransmission</type>
            <actuator name="${prefix}arm_motor_1"/>
            <joint name="${prefix}arm_joint_1">
                <hardwareInterface>hardware_interface/${control_type}JointInterface</hardwareInterface>
            </joint>
        </transmission>
        <transmission name="${prefix}arm_trans_2">
            <type>transmission_interface/SimpleTransmission</type>
            <actuator name="${prefix}arm_motor_2"/>
            <joint name="${prefix}arm_joint_2">
                <hardwareInterface>hardware_interface/${control_type}JointInterface</hardwareInterface>
            </joint>
        </transmission>
        <transmission name="${prefix}arm_trans_3">
            <type>transmission_interface/SimpleTransmission</type>
            <actuator name="${prefix}arm_motor_3"/>
            <joint name="${prefix}arm_joint_3">
                <hardwareInterface>hardware_interface/${control_type}JointInterface</hardwareInterface>
            </joint>
        </transmission>
        <transmission name="${prefix}arm_trans_4">
            <type>transmission_interface/SimpleTransmission</type>
            <actuator name="${prefix}arm_motor_4"/>
            <joint name="${prefix}arm_joint_4">
                <hardwareInterface>hardware_interface/${control_type}JointInterface</hardwareInterface>
            </joint>
        </transmission>
        <transmission name="${prefix}arm_trans_5">
            <type>transmission_interface/SimpleTransmission</type>
            <actuator name="${prefix}arm_motor_5"/>
            <joint name="${prefix}arm_joint_5">
                <hardwareInterface>hardware_interface/${control_type}JointInterface</hardwareInterface>
            </joint>
        </transmission>


        <!--************************BASE***************************-->
        <xacro:property name="wheel_mechanical_reduction" value="${624/35 * 80/18}"/>
        <xacro:property name="caster_mechanical_reduction" value="${624/35 * 80/18}"/>

        <transmission name="${prefix}wheel_trans_fl">
            <type>transmission_interface/SimpleTransmission</type>
            <actuator name="${prefix}wheel_motor_fl"/>
            <joint name="${prefix}wheel_joint_fl">
                <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
            </joint>
        </transmission>

        <transmission name="${prefix}caster_trans_fl">
            <type>transmission_interface/SimpleTransmission</type>
            <actuator name="${prefix}caster_motor_fl"/>
            <joint name="${prefix}caster_joint_fl">
                <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
            </joint>
        </transmission>

        <transmission name="${prefix}wheel_trans_fr">
            <type>transmission_interface/SimpleTransmission</type>
            <actuator name="${prefix}wheel_motor_fr"/>
            <joint name="${prefix}wheel_joint_fr">
                <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
            </joint>
        </transmission>

        <transmission name="${prefix}caster_trans_fr">
            <type>transmission_interface/SimpleTransmission</type>
            <actuator name="${prefix}caster_motor_fr"/>
            <joint name="${prefix}caster_joint_fr">
                <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
            </joint>
        </transmission>

        <transmission name="${prefix}wheel_trans_bl">
            <type>transmission_interface/SimpleTransmission</type>
            <actuator name="${prefix}wheel_motor_bl"/>
            <joint name="${prefix}wheel_joint_bl">
                <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
            </joint>
        </transmission>

        <transmission name="${prefix}caster_trans_bl">
            <type>transmission_interface/SimpleTransmission</type>
            <actuator name="${prefix}caster_motor_bl"/>
            <joint name="${prefix}caster_joint_bl">
                <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
            </joint>
        </transmission>

        <transmission name="${prefix}wheel_trans_br">
            <type>transmission_interface/SimpleTransmission</type>
            <actuator name="${prefix}wheel_motor_br"/>
            <joint name="${prefix}wheel_joint_br">
                <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
            </joint>
        </transmission>

        <transmission name="${prefix}caster_trans_br">
            <type>transmission_interface/SimpleTransmission</type>
            <actuator name="${prefix}caster_motor_br"/>
            <joint name="${prefix}caster_joint_br">
                <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
            </joint>
        </transmission>
        <!--**************************GRIPPER************************************-->
        <transmission name="${prefix}gripper_finger_l_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <actuator name="${prefix}gripper_finger_l_motor"/>
            <joint name="${prefix}gripper_finger_joint_l">
                <hardwareInterface>hardware_interface/${control_type}JointInterface</hardwareInterface>
            </joint>
        </transmission>

        <transmission name="${prefix}gripper_finger_r_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <actuator name="${prefix}gripper_finger_r_motor"/>
            <joint name="${prefix}gripper_finger_joint_r">
                <hardwareInterface>hardware_interface/${control_type}JointInterface</hardwareInterface>
            </joint>
        </transmission>

    </xacro:macro>
</robot>

